* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #060AB2;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    border: 2px solid black;
}

.memory-card {
    border: 2px solid aqua;
}

.front-face,
.back-face {
    border: 2px solid deeppink;
}

img {
    width: 100px;
}


























/*
.cards {
    height: 250px;
    width: 150px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;

}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px;
    justify-content: space-evenly;
    margin-top: 50px;


}

.banaan {
    background-image: url(./images/banaan.png);
    background-size: contain;
    background-repeat: no-repeat;
    object-position:

}

.apple {
    background-image: url(./images/apple.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.strawberry {
    background-image: url(./images/aardbei.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

.kiwi {
    background-image: url(./images/kiwi.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}
*/